<a href="https://colab.research.google.com/github/ElikemHills/ElikemHills/blob/main/QUIZ1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
!wgethttps://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv

/bin/bash: line 1: wgethttps://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv: No such file or directory

In [49]:
df=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [52]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
29912,123,Liberia,2562,Palm kernels,5611,Import Quantity,1000 tonnes,0.00,NaN,0.00,0.00,0.00
29913,123,Liberia,2562,Palm kernels,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
29914,123,Liberia,2562,Palm kernels,5911,Export Quantity,1000 tonnes,NaN,NaN,0.00,0.00,0.00
29915,123,Liberia,2562,Palm kernels,5301,Domestic supply quantity,1000 tonnes,175.00,173.00,175.00,177.00,176.00
29916,123,Liberia,2562,Palm kernels,5131,Processing,1000 tonnes,175.00,173.00,175.00,177.00,176.00

In [54]:
df.groupby('Area')['Area'].count()

Area
Algeria                     1313
Angola                      1424
Benin                       1285
Botswana                    1378
Burkina Faso                1409
Cabo Verde                  1260
Cameroon                    1460
Central African Republic    1344
Chad                        1343
Comoros                       45
Congo                       1413
Côte d'Ivoire               1467
Djibouti                    1095
Egypt                       1488
Eswatini                    1284
Ethiopia                    1447
Ethiopia PDR                  39
Gabon                       1245
Gambia                      1168
Ghana                       1354
Guinea                      1410
Guinea-Bissau               1128
Kenya                       1560
Lesotho                     1150
Liberia                      408
Name: Area, dtype: int64

In [58]:
df.groupby('Element')['Element'].fillna(value='mcf').count()

29917

In [59]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29917 entries, 0 to 29916
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     29917 non-null  int64
 1   Area          29917 non-null  object
 2   Item Code     29917 non-null  int64
 3   Item          29917 non-null  object
 4   Element Code  29917 non-null  int64
 5   Element       29917 non-null  object
 6   Unit          29917 non-null  object
 7   Y2014         29097 non-null  float64
 8   Y2015         29070 non-null  float64
 9   Y2016         29079 non-null  float64
 10  Y2017         29135 non-null  float64
 11  Y2018         29128 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 2.7+ MB

In [62]:
data.describe(include="all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,29917.000000,29917,29917.000000,29917,29917.000000,29917,29917,29097.000000,29070.000000,29079.000000,29135.00000,29128.000000
unique,NaN,25,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,620,NaN,2623,20070,NaN,NaN,NaN,NaN,NaN
mean,87.572918,NaN,2686.865929,NaN,3809.671257,NaN,NaN,117.903397,120.589207,122.035720,124.43766,126.565407
std,68.155579,NaN,146.568791,NaN,2212.246984,NaN,NaN,1218.190666,1252.383043,1275.580292,1297.63878,1321.193813
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-623.000000,-574.000000,-985.000000,-1582.00000,-3396.000000
25%,37.000000,NaN,2561.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.00000,0.000000
50%,74.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.050000,0.050000,0.050000,0.06000,0.040000
75%,114.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,7.710000,8.000000,8.000000,8.00000,8.000000
max,238.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,98094.000000,100835.000000,103603.000000,106400.00000,109224.000000

In [63]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [78]:
df.duplicated().count()

29917

In [66]:
df.describe(include="all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,29917.000000,29917,29917.000000,29917,29917.000000,29917,29917,29097.000000,29070.000000,29079.000000,29135.00000,29128.000000
unique,NaN,25,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,620,NaN,2623,20070,NaN,NaN,NaN,NaN,NaN
mean,87.572918,NaN,2686.865929,NaN,3809.671257,NaN,NaN,117.903397,120.589207,122.035720,124.43766,126.565407
std,68.155579,NaN,146.568791,NaN,2212.246984,NaN,NaN,1218.190666,1252.383043,1275.580292,1297.63878,1321.193813
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-623.000000,-574.000000,-985.000000,-1582.00000,-3396.000000
25%,37.000000,NaN,2561.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.00000,0.000000
50%,74.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.050000,0.050000,0.050000,0.06000,0.040000
75%,114.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,7.710000,8.000000,8.000000,8.00000,8.000000
max,238.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,98094.000000,100835.000000,103603.000000,106400.00000,109224.000000

In [69]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][-1]

In [70]:
x

8

In [72]:
df.isna().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29917 entries, 0 to 29916
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     29917 non-null  bool
 1   Area          29917 non-null  bool
 2   Item Code     29917 non-null  bool
 3   Item          29917 non-null  bool
 4   Element Code  29917 non-null  bool
 5   Element       29917 non-null  bool
 6   Unit          29917 non-null  bool
 7   Y2014         29917 non-null  bool
 8   Y2015         29917 non-null  bool
 9   Y2016         29917 non-null  bool
 10  Y2017         29917 non-null  bool
 11  Y2018         29917 non-null  bool
dtypes: bool(12)
memory usage: 350.7 KB